# ide settings
.idea
.vscode

# mac temp file
.DS_Store

# env
venv
.venv
.noxenv

# build
*.py[cod]
*.egg-info
*.egg
.eggs
eggs
build
dist
__pycache__

# logs
logs
*.log
*.log*
*.out
nohup*

#
run_copy.bat